.modalWindow {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

.modalWindow.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}