.blockItem {}

.blockItem_raiting_0 {
    color: red;
}

.blockItem_raiting_1 {
    color: red;
}

.blockItem_raiting_2 {
    color: red;
}

.blockItem_raiting_3 {
    color: red;
}

.blockItem_raiting_4 {
    color: red;
}

.blockItem_raiting_5 {
    color: red;
}

.blockItem_raiting_6 {
    color: red;
}

.blockItem_raiting_7 {
    color: red;
}

.blockItem_raiting_8 {
    color: red;
}

.blockItem_raiting_9 {
    color: red;
}

.blockItem_raiting_10 {
    color: green;
}