.navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.navbar__routes {
    display: flex;
}

.navbar__auth > a {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar__auth__login {
    text-decoration: none;
    color: rgb(0, 160, 0);
    font-weight: bold;
}

.navbar__auth__login:hover {
    text-decoration: none;
    color: rgb(0, 199, 0);
    font-weight: bold;
}

.navbar__auth__btn {
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-weight: bold;
}

.navbar__auth__btn:hover {
    color: rgb(196, 196, 196);
}

.navbar__auth__btn:active {
    color: white;
}

.navbar__auth__logout {
    text-decoration: none;
    color: rgb(187, 69, 69);
    font-weight: bold;
}

.navbar__auth__logout:hover {
    color: red;
}

.link, .active_link {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(199, 199, 199);
    font-weight: bolder;
    font-size: large;
}

.link:hover {
    color: white;
    transition: ease-in-out all 0.2s;
}

.active_link {
    color: white;
}